<!-- views/meme.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>Meme Generator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="main">
        <!-- INPUT MEME IMAGE HERE -->
        <h1>Your meme</h1>
        <img src=<%= memeImage %> alt="meme">
    </div>
</body>
</html>